.service-container1{
    background-color: #f5f5f5;
    padding: 150px 20px;
}

.service-heading-text{
    display: grid;
    place-items: center;
}

.service-heading-text h1{
   text-transform: capitalize;
}
.service-heading-text p{
    max-width: 650px;
    text-align: center;
}

.services{
    width: 82%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 20px 20px;
}

.service-box{
    /* background-color: aquamarine; */
    margin: 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}



.service-box .service-icon{
    display: grid;
    place-items: center;
}

.service-icon .icon{
    position: relative;
    top: 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 100%;
    font-family: 'et-line';
}

.service-icon .icon::before{
    font-size: 30px;
}

.icon.pen::before{
    content: '\e032';
    font-family: 'et-line';
}

.icon.layers::before{
    content: '\e031';
    font-family: 'et-line';
}

.icon.laptop::before{
    content: '\e001';
    font-family: 'et-line';
}

.icon.picture::before{
    content: '\e010';
    font-family: 'et-line';
}

.icon.bulb::before{
    content: '\e030';
    font-family: 'et-line';
}

.icon.chat::before{
    content: '\e049';
    font-family: 'et-line';
}

.icon.profile-male::before{
    content: '\e040';
    font-family: 'et-line';
}

.service-box .service-details h4{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}


.service-box .service-details p{
    font-size: 14px;
}




.service-container2{
    background: url(../img/b4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.service2{
    background: rgba(0, 0, 0, 0.8);
    padding: 150px 20px;
    text-align: center;
    color: #fff;
}

.service2 .contant{
    width: 60%;
    margin: auto;
}

.service2 .contant h2{
    font-size: 50px;
    font-weight: 600;
}

.service2 .contant p{
    padding-bottom: 4rem;
}