<section>

<div class="s3-container">

		{% for row in rows %}

    <div class="items">
	   <div>
        <span class="icon"> {{ row.content.field_icon1[0]}} </span>
      </div>   
      <div class="text">
          <h5>
              {{ row.content.field_name[0] }}
          </h5>
          <div>
            {{ row.content.body[0] }}
          </div>
      </div>
    </div>



		{% endfor %}
	</div>

</section>
